@model CreateEmployeeDto
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<div>
    <partial name="EmployeePartialView/_DeleteDetailsPartialView" />

    <div class="my-3 ">
        <a asp-controller="Employee" asp-route-id="@Model.Id" asp-action="Edit"  class="btn btn-warning">Edit</a>
        <a asp-controller="Employee" asp-action="Index" class="btn btn-light">Back To List</a>

    </div>
</div>